{{>header}}

<div class="row">

    <div class="sidebar">
        <div class="sidebar-close">&times;</div>
        <div class="sidebar-title">DECKS</div>

        <div class="sidebar-content">
            <a class="sidebar-link hoverable modal-open" data-target="modal-create-deck"><i class="fa fa-plus-circle"></i> Add</a>

            <ul class="deck-items"></ul>    
        </div>

        <div class="sidebar-dropdown">
            <p><i class="fa fa-user"></i> <span id="logged-in-user"></span></p>

            <ul class="account-settings-menu">
                <li><a href="#" class="color-secondary hoverable" id="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                <li><a href="#" class="color-secondary hoverable modal-open" data-target="modal-account-settings"><i class="fa fa-cog"></i> Account Settings</a></li>
            </ul>

        </div>    
    </div>
    
    <div class="panel">
        <div class="panel-header">
            <div class="panel-title">
                <a href="#" class="hoverable" id="update-deck">Deck Title</a>
            </div>
            <div class="panel-form row">
                <div class="col-9">
                    <form id="create-card-form">
                    <div class="form-group">
                        <input type="text" placeholder="Front" name="front_card" id="front-card" required="required">
                        <input type="text" placeholder="Back" name="back_card" id="back-card" required="required">
                        <button type="submit">Add Card</button>
                    </div>
                    </form>
                </div>
                <div class="col-3 play-div">
                    <div class="play-button-container">
                        <a href="#" class="play-button"><i class="fa fa-play"></i></a>
                    </div>    
                </div>    
            </div>
            
        </div>

        <div class="panel-content">
            <div class="col-9">
                <div class="form-group">
                    <input type="text" placeholder="Search" id="search-card">
                </div>
            </div>

            <ul class="card-list"> </ul>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-3 pt-5"><span class="card-total-count">0</span> total number of decks</div>
                <div class="col-6">
                    <ul class="pagination"></ul>
                </div>
                <div class="col-3 pt-5">
                    <a href="#" class="color-red pull-right hoverable modal-open" data-target="modal-delete-deck">Delete this deck</a>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="modal modal-create-deck">
    <div class="modal-content">
        <form id="create-deck-form">
            <div class="modal-header">
                <div class="modal-icon"></div>
                <h5>Create Deck</h5>
                <button class="modal-close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" placeholder="Description" name="description" id="description" required="required">
                </div>

                <div class="form-group">
                    <label for="public"><input type="checkbox" name="public" id="public" class="checkbox"> Public</label>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn-light btn-block modal-close">CANCEL</button>
                    </div>
                    <div class="col-6">
                    <button type="submit" class="btn-block">CREATE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-update-deck">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-icon"></div>
            <h5>Update Deck</h5>
            <button class="modal-close">&times;</button>
        </div>
        <form id="update-deck-form">
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" placeholder="Description" name="description" id="edit-description" required="required">
                </div>

                <div class="form-group">
                    <label for="edit-public"><input type="checkbox" name="public" id="edit-public"> Public</label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn-light btn-block modal-close">CANCEL</button>
                    </div>
                    <div class="col-6">
                    <button type="submit" class="btn-block">UPDATE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-delete-deck">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-icon"></div>
            <h5>Delete Deck</h5>
            <button class="modal-close">&times;</button>
        </div>
        <div class="modal-body">
            <h2>Are you sure you want to delete this deck?</h2>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-6">
                    <button class="btn-light btn-block modal-close">CANCEL</button>
                </div>
                <div class="col-6">
                    <button class="btn-block" id="delete-deck">YES</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-update-card">
    <div class="modal-content">
        <form id="update-card-form">
            <div class="modal-header">
                <div class="modal-icon"></div>
                <h5>Update Card</h5>
                <button class="modal-close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" placeholder="Front" name="front" id="edit-front" required="required">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Back" name="back" id="edit-back" required="required">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn-light btn-block modal-close">CANCEL</button>
                    </div>
                    <div class="col-6">
                    <button type="submit" class="btn-block">UPDATE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-account-settings">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-icon"></div>
            <h5>Account Settings</h5>
            <button class="modal-close">&times;</button>
        </div>
        <form id="change-password-form">
            <div class="modal-body">
                <div class="alert">
                    <a href="#" class="alert-close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <span class="message"></span>
                </div>

                <div class="form-group"><label for="password">Change Password</label></div>
                <div class="form-group">
                    <input type="password" placeholder="New Password" name="password" id="password" required="required">
                </div>
                
                <div class="form-group">
                    <input type="password" placeholder="Confirm Password" name="confirm-password" id="confirm-password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="">CHANGE PASSWORD</button>
                </div>

                <hr>

            </div>
            <div class="modal-footer">
                <p class="pt-5">
                    By deleting account, all of your created decks will be permanently deleted.
                    <a href="#" class="color-red hoverable modal-open" data-target="modal-delete-account">Delete Account</a>
                </p>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-delete-account">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-icon"></div>
            <h5>Delete Account</h5>
            <button class="modal-close">&times;</button>
        </div>
        <div class="modal-body">
            <h2>Are you sure you want to delete this account?</h2>
            <p class="color-red">You cannot undo this action.</p>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-6">
                    <button class="btn-light btn-block modal-close">CANCEL</button>
                </div>
                <div class="col-6">
                    <button class="btn-block" id="delete-account">YES</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script src="/js/decks.js"></script>
<script src="/js/cards.js"></script>
<script src="/js/pagination.js"></script>