{{>header}}

<div class="alert-shuffle">  
    <div class="alert-content">
        SHUFFLING &nbsp;&nbsp;
        <div class="dot-pulse"></div>
    </div>
</div>

<div class="card">
    <div class="card-face">BY DEEN</div>
    <div class="card-content">
        VF
    </div>
</div>

<div class="card-buttons">
    <button id="next">NEXT</button>

    <ul class="card-icons">
        <li><a href="#" class="shuffle"><i class="fas fa-random"></i></a></li>
        <li><a href="#" class="modal-settings"><i class="fas fa-cogs"></i></a></li>
    </ul>
</div>

<div class="modal modal-login-register">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-icon"></div>
            <h5 id="login-register-title">Login</h5>
            <button class="modal-close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="alert" id="login-alert">
                <a href="#" class="alert-close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                <span class="message"></span>
            </div>
            <form name="loginForm" id="login-form">
                <div class="form-group">
                    <input type="text" placeholder="Email" name="email" id="login-email" required="required">
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" id="login-password" required="required">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-light btn-block">LOGIN</button>
                </div>
                <p class="text-center">Doesn't have an account? <a href="#" class="color-secondary hoverable register">Register here</a></p>
            </form>

            <form name="registerForm" id="register-form" style="display:none">
                <div class="form-group">
                    <input type="text" placeholder="Name" name="name" id="name" required="required">
                </div>
                
                <div class="form-group">
                    <input type="text" placeholder="Email" name="email" id="email" required="required">
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" id="password" required="required">
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm-password" required="required">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-light btn-block">REGISTER</button>
                </div>
                <p class="text-center">Already have an account? <a href="#" class="color-secondary hoverable toggle-login-register login">Login</a></p>
            </form>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>

<div class="modal modal-change-deck">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-icon"></div>
            <h5>Change Deck</h5>
            <button class="modal-close">&times;</button>
        </div>
        <div class="modal-body">
            <p class="greet-user">
                Hi, <span id="logged-in-user"></span>.
            </p>
            <ul class="deck-items deck-items-centered">
            </ul>   
        </div>
        <div class="modal-footer">
            <div class="row admin-link">
                <a href="/admin" class="btn-light btn-block">GO TO ADMIN PAGE</a>
                <br/>
                <br/>

                <a href="#" class="color-secondary hoverable" id="logout"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
            <div class="row login-register-link">
                <div class="col-6">
                    <button class="btn-light btn-block modal-close modal-open register" data-target="modal-login-register">REGISTER</button>
                </div>
                <div class="col-6">
                    <button class="btn-light btn-block modal-close modal-open login" data-target="modal-login-register">LOGIN</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script src="/js/index.js"></script>
<script src="/js/modals-index.js"></script>
<script src="/js/login-register.js"></script>