


    <footer class="footer">
        <div class="footer-space"></div>
        <div class="footer-text">Virtual Flashcard <br />© Deen 2022</div>
    </footer>
</div>

<script src="/js/auth.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/app.js"></script>
</body>
</html>