<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Flashcard | Deen</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/891d432736.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="top-menu">
        <ul>
            {{#if mainPage}}
            <li><a href="#" class="modal-settings"><i class="fas fa-cogs"></i></a></li>
            <li><a href="#" class="shuffle"><i class="fas fa-random"></i></a></li>
            {{else}}
            <li><a href="#" class="sidebar-open"><i class="fa fa-bars"></i></a></li>
            <li><a href="#" class="play-button"><i class="fa fa-play"></i></a></li>
            {{/if}}
        </ul>
    </div>