//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$breakpoint-mobile: 767px;

$content-width: 1000px;
$site-size: 1400px;

$path-image: "../img/";
