html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small,
strong,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
main,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: $font-smoothing;
  text-rendering: $text-rendering;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-font-color;
  background-color: $base-background-color;
  font-weight: 500;
  margin: 0 auto !important;
  line-height: 1.5;
  overflow-y: scroll;
  @include max-screen($breakpoint-mobile) {
    font-size: 13px;
  }
}

* {
  outline: none;
}

.container {
  border: 1px solid blue;
  min-height: 100%;
  background-image: url($path-image + "bg.png");
  background-position: top;
  border: 1px solid white;
  
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    background-size: 250px;
  }
}

.row {
  display: flex;
  width: 100%;

  @include max-screen($breakpoint-mobile) {
    display: block;
  }
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;

  @include max-screen($breakpoint-mobile) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;

  @include max-screen($breakpoint-mobile) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;

  @include max-screen($breakpoint-mobile) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }

.color-secondary {
  color: $color-secondary;
}

.color-red {
  color: red;
}

.pull-right {
  float: right;
}

.hoverable {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
}