.alert {
    color: $color-primary;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid $color-primary;
    position: relative;
    display: none;
}

.alert-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $color-primary;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;

    &::before {
        content: "\00d7";
        font-weight: bold;
        color: red;
        font-size: 25px;
        position: absolute;
        left: 10px;
        top: 0;
    }
}

.alert-success {
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid green;

    &::before {
        content: "\2713";
        font-weight: bold;
        color: green;
        font-size: 25px;
        position: absolute;
        left: 10px;
        top: 0;
    }
}

.alert-shuffle {
    width: 50vw;
    height: 150px;
    position: fixed;
    top: 30vh;
    right: 25vw;
    z-index: 50;
    font-size: 30px;
    color: $color-primary;
    text-align: center;
    padding: 10px;
    background-color: $color-primary;
    display: none;
}

.alert-content {
    display: flex;
    background-color: #70707080;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 10px;
    overflow: hidden;
    letter-spacing: 0.3em;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $color-secondary;
    color: $color-secondary;
    box-shadow: 9999px 0 0 -5px $color-secondary;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}
  
.dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $color-secondary;
    color: $color-secondary;
}
  
.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px $color-secondary;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}
  
.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px $color-secondary;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}
  
@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px $color-secondary;
    }
    30% {
        box-shadow: 9984px 0 0 2px $color-secondary;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px $color-secondary;
    }
}
  
@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px $color-secondary;
    }
    30% {
        box-shadow: 9999px 0 0 2px $color-secondary;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px $color-secondary;
    }
}
  
@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px $color-secondary;
    }
    30% {
        box-shadow: 10014px 0 0 2px $color-secondary;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px $color-secondary;
    }
}