.card {
    border: 1px solid $color-secondary;
    height: 400px;
    width: 60%;
    margin: 100px auto 30px;
    padding: 20px;
    position: relative;
    z-index: 15;
    background-color: $color-primary;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.8s;

    .card-face {
        position: absolute;
        top: 10px;
    }

    .card-content {
        font-size: 200px;
        height: 320px;
        vertical-align: middle;
        text-align:center;
    }

    &.flipped {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);

        .card-face, .card-content {
            transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            bottom: 10px;
        }
    }

    &.next {
        animation: toLeft 1s, toRight 1s;
        animation-delay: 0s, 0.5s;
    }

    @include max-screen($breakpoint-mobile) {
        width: 80vw;
        max-width: $breakpoint-mobile;
        margin-top: 75px;
    }
}

@keyframes toLeft {
    0%   { right: 0%; }
    100% { right: 100%; }
} 

@keyframes toRight {
    0%   { left: 100%; }
    100% { left: 0%; }
} 

.card-buttons {
    margin-left: 20%;
    width: 80%;
    padding: 30px 0 30px 0;
    display: flex;
    position: relative;
    z-index: 15;
    background-color: $color-primary;

    ul {
        width: 25%;
    }
    button {
        width: 30%;
        height: 80px;
        font-size: 50px;
        color: $color-primary;
        background-color: $color-secondary;
        border: 5px solid $color-secondary;
        display: block;
        margin: auto;

        @include max-screen($breakpoint-mobile) {
            width: 80%;
            z-index: 15;
        }
    }
    button:hover {
        border: 5px solid $color-secondary;
        background-color: $color-primary;
        color: $color-secondary;
        cursor: pointer;
    }

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        position: inherit;
        margin: 0;
    }
}

.card-icons {
    font-size: 50px;
    display: flex;
    justify-content: right;
    padding-right: 10px;
    
    li {
        padding: 0 10px;

        a { color: $color-tertiary; }
        a:hover { color: $color-secondary; }

        @include max-screen($breakpoint-mobile) {
            background-color: $color-primary;
        }
    }

    @include max-screen($breakpoint-mobile) {
        display: none;
    }
}

.card-list {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    .card-item {
        width: 33.3333%;

        @include max-screen($breakpoint-mobile) {
            width: 100%;
        }
    }

    @include max-screen($breakpoint-mobile) {
        display: block;
        padding: 0;
    }
}

.card-item-content {
    border: 1px solid $color-secondary;
    border-radius: 1em;
    margin: 0 10px 20px;
    padding: 10px;
    height: 120px;
    max-height: 120px;
    position: relative;
    transition: box-shadow .3s;
    
    .card-item-front, .card-item-back{
        padding: 10px 50px;
        &::before {
            text-align: center;
            position: absolute;
            left: 20px;
            width: 25px;
            height: 25px;
            border: 1px solid $color-secondary;
            border-radius: 100%;
        }
    }

    .card-item-front {
        &::before {
            content: "F";
        }
    }

    .card-item-back {
        &::before {
            content: "B";
        }
    }

    .card-item-icons {
        position: absolute;
        right: 20px;
        bottom: 10px;

        a {
            color: $color-tertiary;

            &:hover { color: $color-secondary; }
        }
    }

    &:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

    @include max-screen($breakpoint-mobile) {
        margin: 0 0 20px;
    }
}