.footer {
    width: 100%;
    text-align: center;
    position: relative;
    // z-index: 5;

    .footer-space {
        height: 150px;
        width: 100%;
        position: absolute;
        top: -150px;
        background-color: $color-primary;
    }

    .footer-text {
        transform: rotate(-90deg);
        transform-origin: 0% -50%;
        position: absolute;
        left: 0px;
    }

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        display: block;
        // position: relative;
        // bottom: 0;
        background-color: $color-tertiary;
        color: $color-quaternary;

        .footer-text {
            transform: rotate(0deg);
            position: relative;
            padding: 20px;
            margin-top: 20px;
        }

    }
  
    
}