.form-group {
    display: flex;
    padding: 10px 25px;

    @include max-screen($breakpoint-mobile) {
        display: block;
        padding: 10px 0;
    }
}

input {
    flex: 1;
    margin: 5px;
    padding: 10px 15px;
    background-color: $color-primary;
    border: 1px solid $color-tertiary;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin: 5px 0;
    }
}

button {
    height: 40px;
    margin: 5px;
    padding: 0 20px;
    background-color: $color-secondary;
    color: $color-primary;

    &:hover { cursor: pointer; }

    @include max-screen($breakpoint-mobile) {
        margin: 5px 0;
    }
}

.btn-light {
    display: inline-block;
    height: 40px;
    padding: 10px;
    background-color: $color-primary;
    color: $color-secondary;
    border: 1px solid $color-tertiary;
    text-align: center;

    &:hover {
        background-color: $color-secondary;
        color: $color-primary;
    }
}

.btn-block {
    width: 100%;
}