.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

    .modal-content {
        width: 600px;
        min-height: 400px;
        margin: 70px auto;
        background-color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            width: 90vw;
        }
    }

}

.modal-header {
    background-color: $color-secondary;
    color: $color-primary;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    position: relative;

    @include max-screen($breakpoint-mobile) {
        text-align: left;
    }

    .modal-icon {
        position: absolute;
        top: 25px;
        left: 15px;
        width: 120px;
        height: 120px;
        background-image: url($path-image + "icon.png");
        background-size: contain;
        background-repeat: no-repeat;

        @include max-screen($breakpoint-mobile) {
            display: none;
        }
    }

    h5 {
        font-weight: normal;
        letter-spacing: 0.1em;
    }

    button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.modal-body {
    padding: 50px 70px;
}

.modal-footer {
    padding: 0 95px 50px;
}

.greet-user {
    padding: 0 80px 30px;
    a { 
        color: $color-secondary; 
        padding-left: 10px;
    }
}

.modal-body, .modal-footer, .greet-user {
    @include max-screen($breakpoint-mobile) {
        padding: 20px;
    }
}