.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 0;

    .pagination-num, .pagination-text {
        width: 30px;
        height: 30px;
        border: 1px solid $color-secondary;
        border-radius: 100%;
        text-align: center;
        padding-top: 2px;
        margin: 5px;

        a { color: $color-secondary; }
    }

    .pagination-text {
        border: 0;
        font-weight: bold;
    }

    .active {
        background-color: $color-secondary;
        a { color: $color-primary; }
    }

    .disabled {
        a { color: $color-tertiary; }
    }
}