.panel {
    min-height: 85vh;
    width: 100%;
    margin: 50px;
    margin-left: 0;
    background-color: $color-primary;
    border: 1px solid $color-secondary;
    position: relative;
    z-index: 15;

    .panel-header {
        .panel-title {
            background-color: $color-secondary;
            color: $color-primary;
            padding: 10px 30px;
            font-size: 25px;

            a { color: $color-primary; }
        }

        .panel-form {
            background-color: $color-tertiary;
            position: relative;

            
        }
    }

    .panel-content, .panel-form {
        @include max-screen($breakpoint-mobile) {
            padding: 0 20px;
        }
    }

    .panel-footer {
        padding: 20px;
        @include max-screen($breakpoint-mobile) {
            text-align: center;
        }
    }

    @include max-screen($breakpoint-mobile) {
        border: 0;
        margin: 60px 0 0;
        min-height: none;
        // position: absolute;
        z-index: 1;
    }
    
}

.play-div {
    position: relative;
}

.play-button-container {
    width: 130px;
    height: 130px;
    position: absolute;
    top: -30px;
    background-color: $color-primary;
    text-align: center;
    padding: 10px 0 0 10px;
    border: 5px solid $color-secondary;
    border-radius: 100%;
    transition: all .3s;

    a {
        font-size: 70px;
        color: $color-secondary;
    }

    &:hover {
        background-color: $color-secondary;
        border: 5px solid $color-quaternary;
        a { color: $color-primary; }
    }

    @include max-screen($breakpoint-mobile) {
        display: none;
    }
}