.sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 50px 30px;
    background-color: $color-primary;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;

    .sidebar-close {
        display: none;

        @include max-screen($breakpoint-mobile) {
            display: block;
            text-align: right;
            font-size: 30px;
            padding: 0 10px;
        }
    }

    .sidebar-title {
        background-color: $color-secondary;
        color: $color-primary;
        padding: 5px;
        width: 30%;
        text-align: center;

        @include max-screen($breakpoint-mobile) {
            padding: 10px 0;
            border: 1px dotted $color-primary;
        }
    }

    .sidebar-content {
        // background-color: $color-primary;
        border: 1px solid $color-secondary;
        height: 50vh;
        text-overflow: auto;
        // padding: 10px;

        .sidebar-link {
            padding: 10px 20px;
            float: right;
            color: $color-quaternary;

            @include max-screen($breakpoint-mobile) {
                padding: 10px;
            }
        }

        .deck-items {
            padding: 0 20px 40px 30px;
            height: 40vh;
            width: 100%;
            max-height: 50vh;
            overflow: auto;

            @include max-screen($breakpoint-mobile) {
                padding: 0;
                height: auto;
                max-height: none;
            }
        }

        @include max-screen($breakpoint-mobile) {
            height: auto;
        }
       
    }

    .sidebar-dropdown {
        border: 1px solid $color-secondary;
        margin-top: 10px;
        padding: 10px;

        @include max-screen($breakpoint-mobile) {
            margin: 50px 0;
            padding: 50px 0;
            border-top: 1px dotted $color-primary;
        }
    }

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        right: -100vw;
        z-index: 2;
        background-color: $color-secondary;
        background-color: $color-secondary;
        color: $color-primary;

        a { color: $color-primary; }

        &.open {
            transform: translateX(-100%);
            -webkit-transform:translateX(-100%);
        }
    }
}

.deck-item {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s;

    span {
        float: right;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $color-secondary;
        
    }

    &:hover, &.active {
        background-color: $color-secondary;
        color: $color-primary;
    }
}

.deck-items-centered {
    padding-left: 20px;
}

.account-settings-menu {
    margin: 5px 20px;
    line-height: 1.8em;
}