.top-menu {
    display: none;

    @include max-screen($breakpoint-mobile) {
        display: block;
        background-color: $color-primary;
        position: fixed;
        top: 10px;
        right: 20px;
        font-size: 30px;
        width: 70px;

        ul {
            display: flex;
            flex-direction: row-reverse;
            text-align:right;
            li { padding-left: 10px; }
            a { color: $color-secondary;  }
        }
    }
}